<html>

<head>
    <title>Wall</title>
</head>

<body style = "display: flex; flex-direction:column; justify-content:center;">

    <header style = "display: flex; justify-content:flex-start;"> 
        <div style = "margin-left:10px; font-weight: bold;"> Coding Dojo </div>
        <div style = "margin-left:auto; justify-content:space-around;"> Welcome {{name}} <a href = "127.0.0.1:5000/logout">logout</a></div>
    </header>

    <form action = "/wall" method='POST'>
        <input type = "text" placeholder = "Write your message here" style = "width:200px; height: 150px;" name = "message">
        <input type = "submit"name ="submit" value = "add_message">
    </form>
    
    <div>
    {% for message in messages: %}
    <ul style ="list-style-type: none;">
        <li> {{ message['user_id'], message['created_at'] }}</li>
        <ul style ="list-style-type: none;">
            <li> {{ message['message'] }}</li>
        </ul> 
    </ul>     
    <hr> 
    {% endfor %}
    <hr>
    </div>


    <div>
        <form action = "/wall" method='POST'>
            <input type = "text" placeholder = "Leave a comment here" style = "width:200px; height: 150px;" name = "comment">
            <input type = "submit" name ="submit" value = "add_comment">
        </form>
    </div>

</body>

</html>